<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">Library Management</a>
        </div>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/user/register">New User? Register</a></li>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/user/login">Login as user</a></li>
    </div>
    <div>
        <li><a style="color: beige;"routerLink="/admin/login">Login as admin</a></li>
    </div>
  </nav>
<router-outlet></router-outlet>